<div class="container-fluid content">

  <div class="row mg-top-25">
    <div class="col-12 div">

      <div class="row">
        <div class="col-1 less-padding">
          <button mat-icon-button aria-label="Return icon" class="btn-back" [routerLink]="['/inventory']">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
        <div class="col-6">
          <div class="col-12 title-text">
            <h4>{{title}}</h4>
            <span>Aquí podras configurar la información del producto a vender</span>
          </div>
        </div>
      </div>

      <div class="row mg-top-25">
        <div class="col-12">

          <form [formGroup]="item" class="col-12 mg-t-20">
            <div class="row">
              <div class="col-12 mg-top-25">
                <h6>Información del producto</h6>
                <p class="text-info">Información básica del item</p>
              </div>
              <div class="col-3">
                <mat-form-field appearance="outline">
                  <mat-label>Clave</mat-label>
                  <input matInput type="text" formControlName="key" required>
                  <mat-error>Introduce la clave.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input matInput type="text" formControlName="name" required>
                  <mat-error>Introduce el nombre.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field appearance="outline" >
                  <mat-label>Descripción del producto</mat-label>
                  <input matInput type="text" formControlName="description" required>
                  <mat-error>Introduce una descripción.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field   appearance="outline" >
                  <mat-label>Categoria</mat-label>
                  <mat-select matInput formControlName="category" required>
                    <!--<input (keyup)="onKey($event.target.value)">-->
                    <mat-option *ngFor="let category of categories" [value]="category.id">
                      {{category.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field   appearance="outline" >
                  <mat-label>Tipo de producto</mat-label>
                  <mat-select matInput formControlName="type" required>
                    <!--<input (keyup)="onKey($event.target.value)">-->
                    <mat-option [value]="0">
                      Producto simple
                    </mat-option>
                    <mat-option [value]="1">
                      Combo
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </form>
          <form [formGroup]="recipeItem" class="col-12 mg-t-20">
            <mat-divider></mat-divider>
            <div class="row">
              <div class="col-12 mg-top-25">
                <h6>Recetario</h6>
                <p class="text-info">Información del contenido del producto</p>
              </div>
              <div class="col-6">
                <mat-form-field   appearance="outline" >
                  <mat-label>Item del inventario</mat-label>
                  <mat-select matInput formControlName="itemInventory" (selectionChange)="setUnit(itmR.value)" #itmR>
                    <mat-option *ngFor="let item of inventory" [value]="item">
                      {{item.primaryCode}} - {{item.description}}
                    </mat-option>
                  </mat-select>
                  <mat-error>Selecciona el artículo del inventario.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field appearance="outline">
                  <mat-label>Cantidad</mat-label>
                  <input matInput type="text" formControlName="quantity" required>
                  <mat-error>Introduce la cantidad.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field appearance="outline" >
                  <mat-label>Unidad de medida</mat-label>
                  <input matInput type="text" formControlName="unit" disabled>
                </mat-form-field>
              </div>
              <div class="col-2">
                <button mat-button  (click)="addToRecipe(itmR.value)" class="mt-1" style="width:100%; min-height:50px">Añadir</button>
              </div>

              <div class="col-12">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0 table">

                  <ng-container matColumnDef="code" class="my-auto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CODIGO </th>
                    <td mat-cell *matCellDef="let element"> {{element.primaryCode}} </td>
                    <td mat-footer-cell *matFooterCellDef > Costo final </td>
                  </ng-container>

                  <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCIÓN </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                    <td mat-footer-cell *matFooterCellDef ></td>
                  </ng-container>
                  <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CANTIDAD </th>
                    <td mat-cell *matCellDef="let element"> {{element.quantity}} {{element.unit.name}}s </td>
                    <td mat-footer-cell *matFooterCellDef ></td>
                  </ng-container>
                  <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> COSTO </th>
                    <td mat-cell *matCellDef="let element"> {{element.price * element.quantity | currency:'MXN'}}</td>
                    <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:'MXN'}} </td>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let element">
                          <span (click)="deleteItem(element)">Eliminar</span>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No se encontró nada con la búsqueda "{{input.value}}"</td>
                  </tr>

                </table>
              </div>
            </div>
          </form>
          <mat-divider></mat-divider>
          <form [formGroup]="price" class="col-12 mg-t-20">
            <div class="row">
              <div class="col-12 mg-top-25">
                <h6>Precios y costos</h6>
                <p class="text-info">Información sobre los precios y costos del producto</p>
              </div>
              <div class="col-3">
                <mat-form-field appearance="outline">
                  <mat-label>Costo final</mat-label>
                  <mat-icon matPrefix class="mat-input-element:disabled"> attach_money</mat-icon>
                  <input matInput type="text"  [value]="getTotalCost()" [disabled]="true" #cost>
                  <mat-error>Introduce la clave.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field appearance="outline">
                  <mat-label>Precio (incluyendo el IVA)</mat-label>
                  <mat-icon matPrefix class="mat-input-element:disabled"> attach_money</mat-icon>
                  <input matInput type="text" formControlName="price" required #priceU>
                  <mat-error>Introduce el nombre.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field appearance="outline" >
                  <mat-label>IVA</mat-label>
                  <mat-icon matPrefix class="mat-input-element:disabled"> attach_money</mat-icon>
                  <input matInput type="text" [value]="priceU.value * 0.16" [disabled]="true" #iva>
                  <mat-error>Introduce una descripción.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field appearance="outline" >
                  <mat-label>Utilidad</mat-label>
                  <mat-icon matPrefix class="mat-input-element:disabled"> attach_money</mat-icon>
                  <input matInput type="text" [value]="(priceU.value * 0.84) - cost.value" [disabled]="true">
                  <mat-error>Introduce una descripción.</mat-error>
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row mg-top-25">
        <div class="col-4 offset-8 justify-content-end">
          <button mat-button [routerLink]="['/inventory']">Cancelar</button>
          <button mat-raised-button class="btn-active" (click)="saveItem()">Guardar</button>
        </div>
      </div>

    </div>
  </div>
  </div>
