.toolbar{
  background-color: #e5e5e5c2;
  margin: -20px;
  border-radius: 6px 6px 2px 2px;
  padding: 0px 0px;
}

:host ::ng-deep .mat-tab-label {
  font-weight: bold;
  color:#000;
  height: 70px;
}

:host ::ng-deep .mat-tab-label-active {
  font-weight: bold;
  color:#000;
  background-color: #fff;;
  box-shadow: 0px 0px 6px -2px black;
  transition: all .250s ease-in-out;
}

.mg-auto{
  margin:auto;
}


:host ::ng-deep .mat-tab-label .mat-tab-label-content{
  font-weight: bold;
  color:#000;
}

:host ::ng-deep .mat-tab-header, .mat-tab-nav-bar{
  border:0;
}

:host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar{
  background-color: #fff;
}


.content{
  padding: 2vh 10vh;
}

.mg-top-25{
  margin-top:25px;
}

.less-padding{
  padding: 0px 5px;
}

mat-form-field{
  font-size:12px;
  width: 100%;
}

.text-info-i{
  margin-right: 20px;
  color: rgba(0,0,0,.50);
}

.div{
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.25);
  margin-bottom: 15px;
}

.table{
  width: 100%;
}

:host ::ng-deep .table thead th{
  border: 0px;
}

.img-user{
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 3px;
}

.btn{
  width:100%;
}

.btn-add{
  background-color: #F7931E;
  color: #fff;
}

.text-email{
  color:rgb(0 0 0 / 40%);
  font-size:14px;
}

.txt-align-r{
  text-align:right;
}

.text-infoo{
  color:rgb(0 0 0 / 40%);
  font-size:13px;
  text-transform: uppercase;
}

.divider-right{
  border-right: 2px solid rgb(0 0 0 / 40%);
}

.margin-auto{
  margin:auto;
}