<div class="container-fluid content">
  <div class="row mg-top-25">
    <div class="col-12 div">

      <div class="row toolbar">
        <div class="col-8">
          <mat-tab-group mat-align-tabs="left" [selectedIndex]="1">
            <mat-tab [routerLink]="['/home']">
              <ng-template mat-tab-label >
                <mat-icon>search</mat-icon>
              </ng-template>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                Receta
              </ng-template>
              <!--<app-recipe-product></app-recipe-product> -->
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                Modificadores
              </ng-template>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                Precios
              </ng-template>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                Sugerencias
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div class="col-2 mg-auto">
            <button mat-stroked-button class="btn">Cancelar</button>
        </div>
        <div class="col-2 mg-auto">
              <button mat-raised-button class="btn-add btn">Guardar</button>
        </div>
      </div>

    </div>
  </div>
  </div>
