<div class="container-fluid content">

  <div class="row mg-top-25">
    <div class="col-12 div">

      <div class="row">
        <div class="col-1 less-padding">
          <button mat-icon-button aria-label="Return icon" class="btn-back" [routerLink]="['/inventory']">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
        <div class="col-6">
          <div class="col-12 title-text">
            <h4>Registro de salida de inventario</h4>
            <span>Aquí podras registrar la salida de inventario de un item</span>
          </div>
        </div>
      </div>

      <div class="row mg-top-25">
        <div class="col-12">

          <form [formGroup]="item" class="col-12 mg-t-20">
            <div class="row">
              <div class="col-12 mg-top-25">
                <h6>Información del producto</h6>
                <p class="text-info">Datos de salida de inventario</p>
              </div>
              <div class="col-3">
                <mat-form-field appearance="outline">
                  <mat-label>Motivo de salida de inventario</mat-label>
                  <mat-select formControlName="reason">
                    <mat-option value="1">Merma</mat-option>
                    <mat-option value="2">Ajuste de inventario</mat-option>
                  </mat-select>
                  <mat-error>Selecciona el motivo de la salida de inventario.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field appearance="outline">
                  <mat-label>Cantidad en unidades</mat-label>
                  <input matInput type="text" formControlName="quantity" required>
                  <mat-error>Introduce la cantidad de productos.</mat-error>
                </mat-form-field>
              </div>
            </div >
          </form>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row mg-top-25">
        <div class="col-4 offset-8 justify-content-end">
          <button mat-button [routerLink]="['/inventory']">Cancelar</button>
          <button mat-raised-button class="btn-active" (click)="saveItemOutput()">Registrar salida</button>
        </div>
      </div>

    </div>
  </div>
  </div>
