
.menu{
  padding-top: 5vh;
}

:host ::ng-deep .mat-tab-label-active {
  font-weight: bold;
  color:#000;
}


:host ::ng-deep .mat-tab-label .mat-tab-label-content{
  font-weight: bold;
  color:#000;
}

:host ::ng-deep .mat-tab-header, .mat-tab-nav-bar{
  border:0;
}

:host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar{
  background-color: #FF672B;
}

.menu-icon{
  height: 24px;
  width: 24px;
  cursor: pointer;
  margin-top: -5px;
  margin-right: 15px;
}

.title{
  color: #292929;
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.24px;
  line-height: 43px;  
}

.pospay-logo{
  position:fixed;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    z-index: -2;
    text-align: center;
    bottom: 15px;
}


.mat-ink-bar{
  background-color:#FF672B!important ;
}

.mat-tab-label{
  font-weight: bold;
  color: #000;
}