<div class="container-fluid">


  <div class="row menu">
    <div class="col justify-content-start">
      <h2 class="title">
        <mat-tab-group mat-align-tabs="left" [selectedIndex]="1">
          <mat-tab [routerLink]="['/home']">
            <ng-template mat-tab-label >
              <img src="../../../assets/img/Icons_dashboard_fill.svg" class="menu-icon" [routerLink]="['/home']"> 
            </ng-template>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              Datos de empresa
            </ng-template>
            <app-company></app-company>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              Administrador
            </ng-template>
            <!-- <app-company></app-company> -->
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              Licencia
            </ng-template>
            <!-- <app-company></app-company> -->
          </mat-tab>
        </mat-tab-group>
      </h2>
    </div>
  </div>

  
</div>