
<h4>{{title}}</h4>

<form [formGroup]="userForm" class="mt-4">
    <mat-dialog-content>
    <div class="row">

        <div class="col-4">
            <div class="col-12">
                <ng-container>
                    <div class="img-user" [ngStyle]="{'background-image': 'url('+data.img_url+')'}"></div>
                    <button mat-button (click)="openFile()" class="mt-1">Cambiar imagen</button>
                    <input [hidden]="true" type="file"  placeholder="Selecciona tu imagen" (change)="newImage($event.target)" #img_urlInput>
                  </ng-container>
            </div>
        </div>

        <div class="col-8">
            <div class="row">
                <div class="col-6">
                    <mat-form-field  floatLabel="always" hideRequiredMarker="true" appearance="outline" #name>
                        <mat-label>Nombre</mat-label>
                        <input matInput type="text" formControlName="name" required>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field  floatLabel="always" hideRequiredMarker="true" appearance="outline" #surname>
                        <mat-label>Apellidos</mat-label>
                        <input matInput type="text" formControlName="lastname" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <mat-form-field  floatLabel="always" hideRequiredMarker="true" appearance="outline">
                        <mat-label>Correo electrónico</mat-label>
                        <input matInput type="text" formControlName="email" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <mat-form-field  floatLabel="always" hideRequiredMarker="true" appearance="outline">
                        <mat-label>Rol</mat-label>
                        <mat-select formControlName="rol">
                              <mat-option *ngFor="let role of roles" [value]="role.id" [disabled]="role.status == 0">
                                {{role.name}}
                              </mat-option>
                          </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field  floatLabel="always" hideRequiredMarker="true" appearance="outline">
                        <mat-label>Teléfono</mat-label>
                        <input matInput type="text" formControlName="phone" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field  floatLabel="always" hideRequiredMarker="true" appearance="outline">
                        <mat-label>Código de empleado</mat-label>
                        <input matInput type="text" formControlName="operation_code" required>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field  floatLabel="always" hideRequiredMarker="true" appearance="outline">
                        <mat-label>{{titlekey}}</mat-label>
                        <input matInput type="text" formControlName="code">
                    </mat-form-field>
                </div>
            </div>

        </div>

    </div>
    
    
    </mat-dialog-content>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-2">
            <button mat-button (click)="closeDialog()">Cancelar</button>
        </div>
        <div class="col-4">
            <button mat-raised-button class="btn-add" (click)="saveEmployee(userForm)">Guardar</button>
        </div>
    </div>
</form>