<div class="row menu">
  <div class="col offset-1 justify-content-start">
    <h2 class="title"><img src="../../../assets/img/Icons_dashboard_fill.svg" class="menu-icon" [routerLink]="['/home']"> {{title}}</h2>
  </div>
</div>