<div class="container-fluid content">

  <div class="row mg-top-25">
    <div class="col-12 div" [ngClass]="isEditing ? 'opacity' : 'normal'">

      <div class="row">
        <div class="col-1 less-padding">
          <button mat-icon-button aria-label="Return icon" class="btn-back" [routerLink]="['/inventory']">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
        <div class="col-6">
          <div class="col-12 title-text">
            <h4>{{title}}</h4>
            <span>Aquí podras el recetario del producto</span>
          </div>
        </div>
      </div>

      <div class="row mt-5 " *ngIf="product!=null" style="align-items: center;">
        <div class="col-1">
          <img [src]="product.imgUrl" class="mat-elevation-z5" style="width:120px; max-height: 120px; height:120px; border-radius: 20px;">
        </div>
        <div class="col-6">
          <div class="row ml-3">
            <div class="col-12">
                <h2>{{product.name}}</h2>
            </div>
            <div class="col-12">
              <h5 style="font-size: 0.8rem;
              color: #5d5d5d;
              letter-spacing: 1.2px;
              font-weight: normal;">{{product.description}}</h5>
            </div>
            <div class="col-12 mt-1">
              <div class="row">
                <div class="col-3">
                  <h6 style="font-size: 0.8rem;">CLAVE: {{product.key}}</h6>
                </div>
                <div class="col-5">
                  <h6 style="font-size: 0.8rem;">Categoría: {{product.category.name}}</h6>
                </div>
                <div class="col-3" style="font-size: 0.8rem;">
                  <h6 *ngIf="product.type==0">Producto simple</h6>
                  <h6 *ngIf="product.type==1">Combo</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">

        <div class="col-12">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0 table">

            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> CODIGO </th>
              <td mat-cell *matCellDef="let element"> {{element.inventory.primaryCode}} </td>
              <td mat-footer-cell *matFooterCellDef > Costo final </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCIÓN </th>
              <td mat-cell *matCellDef="let element"> {{element.inventory.description}} </td>
              <td mat-footer-cell *matFooterCellDef ></td>
            </ng-container>
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> CANTIDAD </th>
              <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="unit">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> UNIDADES </th>
              <td mat-cell *matCellDef="let element"> {{element.unit.name}} ({{element.unit.abbreviation}}) </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> PRECIO DEL ITEM POR CANTIDAD</th>
              <td mat-cell *matCellDef="let element"> {{getPriceItemInventory(element.quantity, element.inventory.actualPrice) | currency:'MXN'}} </td>
              <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:'MXN'}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu" >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="editInventory(element)">
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                  </button>
                  <button mat-menu-item (click)="deleteItem(element.id)">
                    <mat-icon>delete_forever</mat-icon>
                    <span>Eliminar</span>
                  </button>
                </mat-menu>
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mb-3"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" >Sin artículos aún</td>
            </tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
          </table>
        </div>
      </div>
      <div class="row mg-top-25">
        <div class="col-4 offset-8 justify-content-end">
          <button mat-button [routerLink]="['/inventory']">Cancelar</button>
          <button mat-raised-button class="btn-active" (click)="saveItem()">Guardar</button>
        </div>
      </div>
    </div>

    <div class="col-12 container-fluid content div mat-elevation-z6">

      <form [formGroup]="recipeItem" class="col-12 mg-t-20">
        <div class="row">
          <div class="col-12 mg-top-25 mb-3">
            <h6>{{tittleEditor}}</h6>
          </div>
          <div class="col-6">
            <mat-form-field   appearance="outline" >
              <mat-label>Item del inventario</mat-label>
              <mat-select matInput formControlName="itemInventory" (selectionChange)="setUnit(itmR.value)" #itmR>
                <mat-option *ngFor="let item of inventory" [value]="item">
                  {{item.primaryCode}} - {{item.description}}
                </mat-option>
              </mat-select>
              <mat-error>Selecciona el artículo del inventario.</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline">
              <mat-label>Cantidad</mat-label>
              <input matInput type="text" formControlName="quantity" required>
              <mat-error>Introduce la cantidad.</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" >
              <mat-label>Unidad de medida</mat-label>
              <input matInput type="text" formControlName="unit" disabled>
            </mat-form-field>
          </div>
        </div>
      </form>

      <div class="col-12 justify-content-end mb-3 mt-3" style="text-align:right">
        <button mat-button (click)="cancelEditing()">Cancelar</button>
        <button mat-raised-button class="btn-active"  (click)="addToRecipe(itmR.value)">Añadir</button>
      </div>
    </div>
  </div>
  </div>
