.content{
  padding: 2vh 10vh;
}

tr.mat-footer-row {
  background-color: #f4f7fb;
  font-weight: bold;
}

.mg-top-25{
  margin-top:25px;
}

.less-padding{
  padding: 0px 5px;
}

.table thead th{
  border: none;
}

.table td, .table th{
  border: none;
  border-bottom: 1px solid #dee2e6;
  vertical-align: middle;
}

.opacity{
  opacity:0.25
}

.normal{
  opacity:1
}


.title-text{
  margin-left: -65px;
}

.btn-back{
  margin: 10px;
}

table{
  width:100%;
}

.btn-add{
  font-size: 55px;
  color: #F7931C;
  margin: 10px;
  margin-top: 16px;
}

.text-info{
  color: #666666!important;
  font-size: 14px;
}

mat-form-field{
  font-size:14px;
  width: 100%;
}

.text-info-i{
  margin-right: 20px;
  color: rgba(0,0,0,.50);
}

.div{
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.25);
  margin-bottom: 15px;
}

.table{
  width: 100%;
}

.img-user{
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 3px;
}

.button-content{
  text-align: right;
  width:100%;
  min-width: 200px;
}


.btn-active{
  background-color: #F7931E;
  color: #fff;
  min-width: 200px;
  margin-left: 15px;
}

.btn-active:hover{
box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
}

.txt-align-r{
  text-align:right;
}

.text-infoo{
  color:rgb(0 0 0 / 40%);
  font-size:13px;
  text-transform: uppercase;
}

.divider-right{
  border-right: 2px solid rgb(0 0 0 / 40%);
}

.margin-auto{
  margin:auto;
}