.container{
  position: relative;

}

.option{
  border-radius: 40px;
  height: 200px;
  width: 200px;
  background-color: blue;
  margin-top: 50px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.33);
  transition: all 0.250s ease;
}

@media screen and (max-width: 769px) {
  .option{
    border-radius: 40px;
    height: 160px;
    width: 160px;
    background-color: blue;
    margin-top: 50px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.33);
    transition: all 0.250s ease;
  }
}


.option:hover{
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.77);
  cursor: pointer;
}


.options{
  position: absolute;
  width: 100%;  
  height: 100%;
}

.users{
  background-color: #FF672B;
}

.products{
  background-color: #F7931E;
}

.tables{
  background-color: #CD4AD3;
}

.promotions{
  background-color: #F75C5D;
}

.pos{
  background-color: #249FD2;
}

.fin{
  background-color: #1DC9A8;
}

.configuration{
  background-color: #555555;
}


.icon{
  vertical-align: middle;
  height: 72px;
  width: 72px;
  max-width: 72px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-height: 72px;
  margin-top: 30%;
}

.title{
  width: 100%;
  color: rgba(0,0,0,0.87);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  margin-top: 20px;
}

.pospay-logo{
  position: fixed;
  width: 150px;
  height: 100px;
  z-index: -2;
  text-align: left;
  top: 10px;
  left: 200px;
}


.user{
  color: #292929;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.12px;
  line-height: 22px;
  text-align: right;
}

.close_session{
  color: #292929;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: 0.09px;
  line-height: 17px;
  text-align: right;
  text-decoration: underline;
}

.user-img{
  height: 40px;
  border-radius: 50%;
  width: 40px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
  background-position: center!important;
  background-size: cover!important;
  background-color: #fff;
  padding: 2px;
}

.user-info{
  padding-top: 25px;
}