<div class="container-fluid">


  <div class="row user-info">
    <div class="col offset-8">
      <h6 class="user">{{userInfo?.name + ' '+ userInfo?.lastname}}</h6>
      <p class="close_session" (click)="doLogout()">Cerrar sesión</p>
    </div>
    <div class="col">
      <img [src]="imgUserUrlOP" class="user-img">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- <mat-grid-list cols="4" rowHeight="1:1" class="options"> -->
        <div class="col-sm-2 col-md-3" (click)="loadRoute('user')">
          <div class="row justify-content-center">
            <div class="option users"><img src="../../../assets/img/icons_user-fill.svg" class="icon"></div>
          </div>
          <div class="row">
            <h2 class="title">USUARIOS</h2>
          </div>
        </div>
        <div class="col-sm-4 col-md-3" (click)="loadInventory(1)">
          <div class="row justify-content-center">
            <div class="option products"><img src="../../../assets/img/icons_food-fill.svg" class="icon"></div>
          </div>
          <div class="row">
            <h2 class="title">PRODUCTOS</h2>
          </div>
        </div>
        <div class="col-sm-4 col-md-3" (click)="loadRoute('table')">
          <div class="row justify-content-center">
            <div class="option tables"><img src="../../../assets/img/icons_foodtable.svg" class="icon"></div>
          </div>
          <div class="row">
            <h2 class="title">MESAS</h2>
          </div>
        </div>
        <div class="col-sm-4 col-md-3">
          <div class="row justify-content-center" (click)="loadInventory(2)">
            <div class="option promotions"><img src="../../../assets/img/icons_erase-fill_white.svg" class="icon"></div>
          </div>
          <div class="row">
            <h2 class="title">PROMOCIONES</h2>
          </div>
        </div>
        <!-- <div class="col-sm-4 col-md-3">
          <div class="row justify-content-center">
            <div class="option pos"><img src="../../../assets/img/icons_bell.svg" class="icon"></div>
          </div>
          <div class="row">
            <h2 class="title">POSPAY</h2>
          </div>
        </div> -->
        <!-- <div class="col-sm-4 col-md-3">
          <div class="row justify-content-center">
            <div class="option fin"><img src="../../../assets/img/icons_analytics.svg" class="icon"></div>
          </div>
          <div class="row">
            <h2 class="title">FINANZAS</h2>
          </div>
        </div> -->
        <div class="col-sm-4 col-md-3" (click)="loadRoute('config')">
          <div class="row justify-content-center">
            <div class="option configuration"><img src="../../../assets/img/icons_settings-fill@3x.svg" class="icon"></div>
          </div>
          <div class="row">
            <h2 class="title">CONFIGURACIÓN</h2>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col offset-5">
        <img src="../../../assets/img/pospay_gray.svg" class="pospay-logo">
      </div>
    </div>
  </div>

</div>