<div class="container-fluid content">
  <div class="row mg-top-25">
    <div class="col-12 div">

      <div class="row">
        <div class="col-3">
          <div class="col-12 ">
            <button mat-raised-button class="btn-add" [routerLink]="['/provider']"><mat-icon>add</mat-icon> NUEVO PROVEEDOR</button>
          </div>
        </div>
        <div class="col-3 offset-6 justify-content-end">
          <mat-form-field appearance="outline">
            <mat-icon matPrefix> search</mat-icon>
            <mat-label>Búsqueda</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Realiza una búsqueda" #input>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0 table">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCIÓN </th>
              <td mat-cell *matCellDef="let element"> {{element.description | slice:0:30}}... </td>
            </ng-container>
            
            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> TELÉFONO </th>
              <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container> 
            
            <ng-container matColumnDef="direction">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> DIRECCIÓN </th>
              <td mat-cell *matCellDef="let element"> {{element.direction | slice:0:30}} </td>
            </ng-container>
            
            <ng-container matColumnDef="qualification" class="hidden-md">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> CALIFICACIÓN </th>
              <td mat-cell *matCellDef="let element">
                <div class="stars">
                  <span *ngFor="let item of arrayOne(element.qualityService); let i = index">
                    <mat-icon>star</mat-icon>
                  </span>
                  <span *ngFor="let item of arrayOne(5-element.qualityService); let i = index">
                    <mat-icon>star_border</mat-icon>
                  </span>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button aria-label="Delete" style="color:#CA0B00" [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="editItem(element.id)">
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                  </button>
                  <button mat-menu-item (click)="deleteProvider(element.id)">
                    <mat-icon>delete_forever</mat-icon>
                    <span>Eliminar</span>
                  </button>
                </mat-menu>

              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No se encontró nada con la búsqueda "{{input.value}}"</td>
            </tr>

          </table>
        </div>
      </div>

    </div>
  </div>
  </div>
