<div class="container-fluid content">

  <div class="row mg-top-25">
    <div class="col-12 div">

      <div class="row">
        <div class="col-1 less-padding">
          <button mat-icon-button aria-label="Return icon" class="btn-back" [routerLink]="['/inventory']">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
        <div class="col-6">
          <div class="col-12 title-text">
            <h4>Modificando precios del producto</h4>
            <span>Aquí podras configurar el precio producto a vender</span>
          </div>
        </div>
      </div>

      <div class="row mg-top-25">
        <div class="col-12">
          <form [formGroup]="price" class="col-12 mg-t-20">
            <div class="row">
              <div class="col-12 mg-top-25">
                <h6>Precios y costos</h6>
                <p class="text-info">Información sobre los precios y costos del producto</p>
              </div>
              <div class="col-3">
                <mat-form-field appearance="outline">
                  <mat-label>Costo final</mat-label>
                  <mat-icon matPrefix class="mat-input-element:disabled"> attach_money</mat-icon>
                  <input matInput type="text"  [value]="costProduct" [disabled]="true" #cost>
                  <mat-error>Introduce la clave.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field appearance="outline">
                  <mat-label>Precio (incluyendo el IVA)</mat-label>
                  <mat-icon matPrefix class="mat-input-element:disabled"> attach_money</mat-icon>
                  <input matInput type="text" formControlName="price" required #priceU>
                  <mat-error>Introduce el precio correctamente.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field appearance="outline" >
                  <mat-label>IVA</mat-label>
                  <mat-icon matPrefix class="mat-input-element:disabled"> attach_money</mat-icon>
                  <input matInput type="text" [value]="priceU.value * 0.16" [disabled]="true" #iva>
                  <mat-error>Introduce una descripción.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field appearance="outline" >
                  <mat-label>Utilidad</mat-label>
                  <mat-icon matPrefix class="mat-input-element:disabled"> attach_money</mat-icon>
                  <input matInput type="text" [value]="(priceU.value * 0.84) - cost.value" [disabled]="true">
                  <mat-error>Introduce una descripción.</mat-error>
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row mg-top-25">
        <div class="col-4 offset-8 justify-content-end">
          <button mat-button [routerLink]="['/inventory']">Cancelar</button>
          <button mat-raised-button class="btn-active" (click)="saveItem()">Guardar</button>
        </div>
      </div>

    </div>
  </div>
  </div>
