<div class="container-fluid content">
  
  <div class="row mg-top-25">
    <div class="col-12 div">

      <div class="row">
        <div class="col-3">
          <div class="col-12 ">
            <button mat-raised-button class="btn-add" [routerLink]="['item/']"><mat-icon>add</mat-icon> NUEVO ITEM</button>
          </div>
        </div>
        <div class="col-3 offset-6 justify-content-end">
          <mat-form-field appearance="outline">
            <mat-icon matPrefix> search</mat-icon>
            <mat-label>Búsqueda</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Realiza una búsqueda" #input>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0 table">

            <ng-container matColumnDef="trafficLight">
              <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
              <td mat-cell *matCellDef="let element"> <mat-icon [matTooltip]="element.inventoryStatus==2 ? 'Inventario suficiente' : 'Cuidado, inventario escaso'" class="trafficLight" [ngClass]="{'red_tf': element.inventoryStatus==0, 'yellow_tf': element.inventoryStatus==1, 'green_tf': element.inventoryStatus==2}">brightness_1</mat-icon> </td>
            </ng-container>

            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> CLAVE </th>
              <td mat-cell *matCellDef="let element"> {{element.primaryCode}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCIÓN DEL PRODUCTO</th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="unit">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> UNIDAD DE VENTA </th>
              <td mat-cell *matCellDef="let element"> {{element.unit.name}} </td>
            </ng-container>
            
            <ng-container matColumnDef="currentPrice">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> PRECIO POR ITEM </th>
              <td mat-cell *matCellDef="let element"> {{element.actualPrice}} </td>
            </ng-container>
            
            <ng-container matColumnDef="actualStock">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> STOCK ACTUAL </th>
              <td mat-cell *matCellDef="let element"> {{element.actualStock}} </td>
            </ng-container>
 
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="entryItemInventory(element.id)">
                    <mat-icon>arrow_forward</mat-icon>
                    <span>Entrada de inventario</span>
                  </button>
                  <button mat-menu-item (click)="outputItemInventory(element.id)">
                    <mat-icon>arrow_back</mat-icon>
                    <span>Salida de inventario</span>
                  </button>
                  <button mat-menu-item (click)="loadItemMovements(element.id)">
                    <mat-icon>list</mat-icon>
                    <span>Movimientos de inventario</span>
                  </button>
                  <mat-divider></mat-divider>
                  <button mat-menu-item (click)="loadItemMovements(element.id)">
                    <mat-icon>attach_money</mat-icon>
                    <span>Ajuste de precios</span>
                  </button>
                  <mat-divider></mat-divider>
                  <button mat-menu-item (click)="editItem(element.id)">
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                  </button>
                  <button mat-menu-item (click)="deleteItem(element.id)">
                    <mat-icon>delete_forever</mat-icon>
                    <span>Eliminar</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No se encontró nada con la búsqueda "{{input.value}}"</td>
            </tr>

          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>
        </div>
      </div>

    </div>
  </div>
  </div>
