<div class="container-fluid content">

  <div class="row mg-top-25">
    <div class="col-12 div">

      <div class="row">
        <div class="col-1 less-padding">
          <button mat-icon-button aria-label="Return icon" class="btn-back" [routerLink]="['/inventory']">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
        <div class="col-6">
          <div class="col-12 title-text">
            <h4>{{title}}</h4>
            <span>Aquí podras crear una nueva promoción</span>
          </div>
        </div>
      </div>

      <div class="row mg-top-25">
        <div class="col-12">

          <form [formGroup]="form" class="col-12 mg-t-20" #formV>
            <div class="row">
              <div class="col-12 mg-top-25">
                <h6>Tipo de promocion</h6>
              </div>
              <div class="col-12 mt-3 mb-3">
                <mat-chip-list aria-label="Fish selection">
                  <div class="col-6">
                    <mat-chip class="chip" [ngClass]="{'chipActive': type==0}" (click)="setType(0)">Combo</mat-chip>
                  </div>
                  <div class="col-6">
                    <mat-chip class="chip" [ngClass]="{'chipActive': type==1}" (click)="setType(1)">Descuento</mat-chip>
                  </div>
                </mat-chip-list>
              </div>

              <div class="col-12 mt-3">
                <div class="row">

                  <div class="col-2">
                    <img src="https://cdn2.iconfinder.com/data/icons/dark-action-bar-2/96/camera-512.png" class="ml-4" style="width:160px; max-height: 160px; height:160px; border-radius: 20px; cursor: pointer; border: 1px solid #e2e7ef">
                  </div>
                  <div class="col-10">
                    <div class="col-12">
                      <mat-form-field appearance="outline" >
                        <mat-label>{{formsLabels.formName}}</mat-label>
                        <input matInput type="text" formControlName="name" required>
                        <mat-error>Introduce un nombre.</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field appearance="outline" >
                        <mat-label>{{formsLabels.formDescription}}</mat-label>
                        <textarea matInput type="text" formControlName="description" required rows="5" style="resize: none;"></textarea>
                        <mat-error>Introduce una descripción.</mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <form [formGroup]="recipeItem" class="col-12 mg-t-20">
                    <div class="row">
                      <div class="col-12 mg-top-25">
                        <p class="text-info">{{formsLabels.formItemTitle}}</p>
                      </div>
                      <div class="col-7">
                        <ng-container>
                          <mat-form-field  appearance="outline" >
                            <mat-label>{{formsLabels.formItemName}}</mat-label>
                            <mat-select matInput formControlName="itemInventory" #itmR (selectionChange)="setDinamicUnit(itmR.value)">
                              <mat-option *ngFor="let item of actualProductsArray" [value]="item">
                                  <ng-container *ngIf="type==0">
                                    {{item.key}} - {{item.name}}
                                  </ng-container>
                                  <ng-container *ngIf="type==1">
                                    {{item.primaryCode + ' - ' +item.description}}
                                  </ng-container>
                              </mat-option>
                            </mat-select>
                            <mat-error>{{formsLabels.formItemError}}</mat-error>
                          </mat-form-field>
                        </ng-container>
                      </div>
                      <div class="col-3">
                        <mat-form-field appearance="outline">
                          <mat-label>Cantidad</mat-label>
                          <input matInput type="text" formControlName="quantity" required>
                          <span matSuffix style="vertical-align: middle;margin:auto">{{unitDinamic}}</span>
                          <mat-error>Introduce la cantidad.</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-2">
                        <button mat-button  (click)="addToRecipe(itmR.value)" class="mt-1" style="width:100%; min-height:50px">Añadir</button>
                      </div>
        
                      <div class="col-12">
                        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0 table">
        
                          <ng-container matColumnDef="code">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CODIGO </th>
                            <td mat-cell *matCellDef="let element"> {{element.key}} </td>
                          </ng-container>
        
                          <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                          </ng-container>
                          
                          <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
                            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                          </ng-container>
                          
                          <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CANTIDAD </th>
                            <td mat-cell *matCellDef="let element"> {{element.quantity}} {{element.unit}} </td>
                          </ng-container>

                          <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                            <td mat-cell *matCellDef="let element">  </td>
                          </ng-container>
        
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
                          <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No se encontró nada con la búsqueda "{{input.value}}"</td>
                          </tr>
        
                        </table>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <div class="col-12 mt-5 mb-5">
                <mat-divider></mat-divider>
                <div class="row mt-5">
                  <div class="col-4">
                    <div class="row">
                      <div class="col-6">
                        <mat-form-field class="example-full-width" appearance="outline" (click)="begin.open()">
                          <mat-label>VIGENCIA INICIO</mat-label>
                          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="begin" formControlName="vigencyStart">
                          <mat-datepicker-toggle matSuffix [for]="begin"></mat-datepicker-toggle>
                          <mat-datepicker #begin></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-6">
                        <mat-form-field class="example-full-width" appearance="outline" (click)="end.open()">
                          <mat-label>VIGENCIA FIN</mat-label>
                          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="end" formControlName="vigencyEnd">
                          <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                          <mat-datepicker #end></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <mat-form-field   appearance="outline" >
                          <mat-label>HORA INICIO</mat-label>
                          <mat-select matInput formControlName="hourStart">
                            <mat-option *ngFor="let hour of hours" [value]="hour">
                              {{hour}}
                            </mat-option>
                          </mat-select>
                          <mat-error>Selecciona la hora inicial.</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-6">
                        <mat-form-field   appearance="outline" >
                          <mat-label>HORA FIN</mat-label>
                          <mat-select matInput formControlName="hourEnd">
                            <mat-option *ngFor="let hour of hours" [value]="hour">
                              {{hour}}
                            </mat-option>
                          </mat-select>
                          <mat-error>Selecciona la hora final.</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-4">
                    <div class="row" style="justify-content: center;
                    display: flex;
                    align-items: center;">
                      <mat-divider [vertical]="true"  style="height:128px"></mat-divider>
                      <div class="col-6">
                        <div class="row">
                          <div class="col-5">
                            <mat-checkbox formControlName="monday">Lunes</mat-checkbox>
                            <mat-checkbox formControlName="tuesday">Martes</mat-checkbox>
                            <mat-checkbox formControlName="wednesday">Miercoles</mat-checkbox>
                            <mat-checkbox formControlName="thursday">Jueves</mat-checkbox>
                          </div>
                        </div>
                      </div>
                      <div class="col-5">
                        <mat-divider [vertical]="true"></mat-divider>
                        <div class="row">
                          <div class="col-6">
                            <mat-checkbox formControlName="friday">Viernes</mat-checkbox>
                            <mat-checkbox formControlName="saturday">Sabado</mat-checkbox>
                            <mat-checkbox formControlName="sunday">Domingo</mat-checkbox>
                            <mat-checkbox formControlName="allDays">Todos</mat-checkbox>
                          </div>
                        </div>
                      </div>
                      <mat-divider [vertical]="true"  style="height:128px"></mat-divider>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="row">
                      <div class="col-12">
                        <mat-form-field appearance="outline" >
                          <mat-label>Descuento de empleado (%)</mat-label>
                          <input matInput type="text" formControlName="employeDiscount" required>
                          <mat-error>Introduce un descuento de empleado.</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-12">
                        <mat-form-field appearance="outline" >
                          <mat-label>Monto máximo en consumo ($)</mat-label>
                          <input matInput type="text" formControlName="maximunBuy" required>
                          <mat-error>Introduce el monto máximo en consumo.</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row mg-top-25">
        <div class="col-4 offset-8 justify-content-end">
          <button mat-button [routerLink]="['/inventory']">Cancelar</button>
          <button mat-raised-button class="btn-active" (click)="saveItem()">Guardar</button>
        </div>
      </div>

    </div>
  </div>
  </div>

