<div class="container-fluid">


  <div class="row menu">
    <div class="col justify-content-start">
      <h2 class="title">
        <mat-tab-group mat-align-tabs="left" [selectedIndex]="1">
          <mat-tab (click)="returnToHome()">
            <ng-template mat-tab-label >
              <img src="../../../assets/img/Icons_dashboard_fill.svg" class="menu-icon" (click)="returnToHome()">  
            </ng-template>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              Usuarios
            </ng-template>
            <app-user></app-user>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              Roles
            </ng-template>
            <app-role></app-role>
          </mat-tab>
          <!-- <mat-tab>
            <ng-template mat-tab-label>
              Impresiones
            </ng-template>
            <app-print></app-print>
          </mat-tab> -->
        </mat-tab-group>
      </h2>
    </div>
  </div>


  <div class="container-fluid content">
    <div class="row">
      <div class="col offset-5">
        <img src="../../../assets/img/pospay_gray.svg" class="pospay-logo">
      </div>
    </div>
  </div>

</div>