
.menu{
  padding-top: 5vh;
}

:host ::ng-deep .mat-tab-label-active {
  font-weight: bold;
  color:#000;
}


:host ::ng-deep .mat-tab-label .mat-tab-label-content{
  font-weight: bold;
  color:#000;
}

:host ::ng-deep .mat-tab-header, .mat-tab-nav-bar{
  border:0;
}

:host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar{
  background-color: #FF672B;
}

.menu-icon{
  height: 24px;
  width: 24px;
  cursor: pointer;
  margin-top: -5px;
  margin-right: 15px;
}

.title{
  color: #292929;
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.24px;
  line-height: 43px;  
}

.pospay-logo{
  position:fixed;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    z-index: -2;
    text-align: center;
    bottom: 15px;
}

.item{
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
  padding: 25px;
  text-align: center;
  max-width: 300px;
  margin-top: 25px;
}

.item:hover{
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
}

.drop-down{
  border-radius: 30%;
  background-color: #ededed;
  min-height: 20px;
  min-width: 30px;
  padding: 5px;
}

.item-title{
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  text-align: left;
  margin-top: 20px;
}

.item-content{
  color: #666666;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  text-align: left;
}

.content{
  padding: 5vh 20vh;
}

.img-user {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #efefef;
}

.add-user{
  background-color: #efefef;
  border-radius: 50%;
  border: 1px solid #efefef;
}

.avatars{
  margin-top: 35px;
}

.img-user-first {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
