<div class="container-fluid content">
  <div class="row mg-top-25">
    <div class="col-12 div">

      <div class="row">
        <div class="col-3">
          <div class="col-12 ">
            <button mat-raised-button class="btn-add" [routerLink]="['/product']"><mat-icon>add</mat-icon> NUEVO PRODUCTO</button>
          </div>
        </div>
        <div class="col-3 offset-6 justify-content-end">
          <mat-form-field appearance="outline">
            <mat-icon matPrefix> search</mat-icon>
            <mat-label>Búsqueda</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Realiza una búsqueda" #input>
          </mat-form-field>
        </div>
      </div>
      

      <div class="row">
        <div class="col-12">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0 table">

            <ng-container matColumnDef="imgUrl">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
              <td mat-cell *matCellDef="let element"> {{element.imgUrl}} </td>
            </ng-container>
            
            <ng-container matColumnDef="key">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> CODIGO</th>
              <td mat-cell *matCellDef="let element"> {{element.key}} </td>
            </ng-container>
            
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCIÓN </th>
              <td mat-cell *matCellDef="let element"> {{element.description | slice:0:40}}... </td>
            </ng-container>
            
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO </th>
              <td mat-cell *matCellDef="let element"> 

                <div *ngIf="element.type == 0">
                  Producto simple
                </div>
                <div *ngIf="element.type == 1">
                  Combo
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> CATEGORIA </th>
              <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
            </ng-container>
            
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> PRECIO DE VENTA </th>
              <td mat-cell *matCellDef="let element"> {{element.price | currency:'MXN'}} </td>
            </ng-container>
 
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button [matMenuTriggerFor]="menu" >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="recipeItem(element.id)">
                    <mat-icon>list</mat-icon>
                    <span>Recetario</span>
                  </button>
                  <button mat-menu-item (click)="modifiersItem(element.id)">
                    <mat-icon>fastfood</mat-icon>
                    <span>Modificadores</span>
                  </button>
                  <button mat-menu-item (click)="pricesItem(element.id)">
                    <mat-icon>attach_money</mat-icon>
                    <span>Precios</span>
                  </button>
                  <button mat-menu-item (click)="suggestedItem(element.id)">
                    <mat-icon>highlight</mat-icon>
                    <span>Sugerencias</span>
                  </button>
                  <mat-divider></mat-divider>
                  <button mat-menu-item (click)="editProduct(element.id)">
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                  </button>
                  <button mat-menu-item (click)="deleteItem(element.id)">
                    <mat-icon>delete_forever</mat-icon>
                    <span>Eliminar</span>
                  </button>
                </mat-menu>
              </td> 
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No se encontró nada con la búsqueda "{{input.value}}"</td>
            </tr>

          </table>
        </div>
      </div>

    </div>
  </div>
  </div>
