<div class="container-fluid" style="width: 100vw;">
  <div class="login row">
    <div class="col-12" style="padding:0">
      <mat-progress-bar mode="indeterminate" *ngIf="isDisabled"></mat-progress-bar>
    </div>
    
    
      <div class="col-6 pt-5">

        <div class="row pt-5">
          <div class="col-12">
            <h2 class="title">
              Restablecimiento de contraseña
            </h2>
          </div>
          <div class="col-12 mt-4 mb-2">
            <p class="text-help">
              ¿Olvidaste tu contraseña {{user?.name}}?
            </p>
            <p class="text-help mt-1">
              Introduce tu nueva contraseña
            </p>
          </div>
          <div class="col-12 mb-3">
            <form [formGroup]="item" class="col-12 mt-3">
              <div class="col-12">
                <mat-form-field appearance="outline">
                  <mat-label>Introduce tu nueva contraseña</mat-label>
                  <input matInput type="password" formControlName="password" required>
                  <mat-error>Introduce tu nueva contraseña.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field appearance="outline">
                  <mat-label>Confirma tu nueva contraseña</mat-label>
                  <input matInput type="password" formControlName="confirmPassword">
                  <mat-error>Confirma tu nueva contraseña.</mat-error>
                </mat-form-field>
              </div>
            </form>
          </div>
          <div class="col-12 mt-5">
            <div class="row">
              <div class="col-12" style="text-align:right; padding: 0 40px;">
                <button mat-raised-button color="primary" (click)="saveNewPassword()">Guardar nueva contraseña</button>
              </div>
            </div>
          </div>
          <div class="col-12 mt-5 pt-5">
            <div class="row">
              <div class="col-12" style="text-align:center;">
                <img src="../../../assets/img/pospay_gray.svg">
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="col-6" style=" padding-right:0px;">
      <div class="img-back"></div>
    </div>
  </div>
</div>