<div class="container-fluid content">

  <div class="row mg-top-25">
    <div class="col-12 div">

      <div class="row">
        <div class="col-1 less-padding">
          <button mat-icon-button aria-label="Return icon" class="btn-back" [routerLink]="['/inventory']">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
        <div class="col-6">
          <div class="col-12 title-text">
            <h4>Registro de entrada de inventario</h4>
            <span>Aquí podras añadir inventario de un item</span>
          </div>
        </div>
      </div>

      <div class="row mt-4 ml-1 mr-1" *ngIf="dataItem!=null">
        <div class="col-12">
          <div class="row mb-3 mt-3">
            <div class="col-6">
              <h5>{{dataItem.primaryCode}} - {{dataItem.description}}</h5>
              <h6>Unidad de salida: {{dataItem.unit.name}}</h6>
            </div>
            <div class="col-6" style="text-align: right;">
              <h5>Costo compra promedio: $ {{dataItem!=null ? dataItem.averageCost : '0.00'}}</h5>
              <h6>Precio de venta actual por item: $ {{dataItem!=null ? dataItem.actualPrice : '0.00'}}</h6>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12">
          <form [formGroup]="item" class="col-12 ">
            <div class="row">
              <div class="col-12">
                <h6>Información de entrada del item</h6>
                <p class="text-info">Datos de entrada de inventario</p>
              </div>
              <div class="col-3">
                <mat-form-field   appearance="outline" >
                  <mat-label>Unidad de compra</mat-label>
                  <mat-select matInput formControlName="unitBuy" required #unitBuyQty>
                    <mat-option *ngFor="let unit of units" [value]="unit.id">
                      {{unit.name}} ({{unit.abbreviation}})
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field appearance="outline">
                  <mat-label>Cantidad (en unidades)</mat-label>
                  <input matInput type="text" formControlName="quantity" required #quantProductUnit> 
                  <mat-error>Introduce la cantidad de productos.</mat-error>
                </mat-form-field>
              </div>
              <ng-container>
                <div class="col-3" [hidden]="(unitBuyQty!=undefined && dataItem!=null) ? (unitBuyQty.value == dataItem.unit.id) : false">
                  <mat-form-field appearance="outline" >
                    <mat-label>Cantidad {{dataItem!=null ? 'en ' + dataItem.unit.name + 's' : 'en unidades'}}</mat-label>
                    <input matInput type="text" formControlName="unitSellQty" [value]="(dataItem!=null && unitBuyQty.value == dataItem.unit.id) ? quantProductUnit.value : ''"  #quantityEquiv>
                  </mat-form-field>
                </div>
            </ng-container>

              <div class="col-3">
                <mat-form-field appearance="outline">
                  <mat-label>Precio de compra (con IVA incluido)  </mat-label>
                  <mat-icon matPrefix> attach_money</mat-icon>
                  <input matInput type="text" formControlName="price" required #priceBuy>
                  <mat-error>Introduce el precio de compra.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field appearance="outline" >
                  <mat-label>Porcentaje de IVA</mat-label>
                  <h4 matSuffix>%</h4>
                  <input matInput type="text" formControlName="tax" required #ivaPerc>
                  <mat-error>Introduce el porcentaje de IVA.</mat-error>
                </mat-form-field>
              </div>
              <ng-container *ngIf="dataItem !=null && dataItem.isPersishable == true">
                <div class="col-12 mt-3 mb-3">
                  <mat-divider></mat-divider>
                </div>
                <div class="col-12">
                  <h6>Información de productos percederos</h6>
                  <p class="text-info">Sección solamente para productos percederos</p>
                </div>
                <div class="col-4">
                  <mat-form-field   appearance="outline" >
                    <mat-label>Fecha estimada a expirar</mat-label>
                    <input matInput  [min]="minDate" [matDatepicker]="dateExpireEst" (focus)="dateExpireEst.open()" formControlName="expireEstimated">
                    <mat-datepicker-toggle matSuffix [for]="dateExpireEst"></mat-datepicker-toggle>
                    <mat-datepicker #dateExpireEst touchUi disabled="false"></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field   appearance="outline" >
                    <mat-label>Fecha estimada a expirar del proveedor</mat-label>
                    <input matInput  [min]="minDate" [matDatepicker]="dateExpireBar" (focus)="dateExpireBar.open()" formControlName="expireSuggested">
                    <mat-datepicker-toggle matSuffix [for]="dateExpireBar"></mat-datepicker-toggle>
                    <mat-datepicker #dateExpireBar touchUi disabled="false"></mat-datepicker>
                  </mat-form-field>
                </div>
              </ng-container>

              <div class="col-12 mt-3 mb-3">
                <mat-divider></mat-divider>
              </div>

              <div class="col-12">
                <h6>Información del proveedor</h6>
                <p class="text-info">Sección sobre el proveedor</p>
              </div>

              <div class="col-3">
                <mat-form-field   appearance="outline" >
                  <mat-label>Proveedor</mat-label>
                  <mat-select matInput formControlName="provider" required>
                    <!--<input (keyup)="onKey($event.target.value)">-->
                    <mat-option *ngFor="let provider of providers" [value]="provider.id">
                      {{provider.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <ng-container>
                <div class="col-12 mt-3 mb-3">
                  <mat-divider></mat-divider>
                </div>

                <div class="col-12">
                  <h6>Información sobre precios</h6>
                  <p class="text-info">Sección sobre los costos al público y al negocio por cada item</p>
                </div>
                <div class="col-5">
                  <mat-form-field appearance="outline" class="disabledInputs">
                    <mat-label>Precio recomendado (por unidad)</mat-label>
                    <mat-icon matPrefix class="mat-input-element:disabled"> attach_money</mat-icon>
                    <input matInput type="text" disabled="true" [value]="(quantityEquiv.value>0 && priceBuy.value>0) ? (((priceBuy.value-0) / quantityEquiv.value ) *1.33) : 0">
                    <mat-hint>Este solo es un precio recomendado, con base en sus compras anteriores.</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-5">
                  <mat-form-field appearance="outline" >
                    <mat-label>Precio del item (por unidad)</mat-label>
                    <mat-icon matPrefix> attach_money</mat-icon>
                    <input matInput type="text" formControlName="actualPrice" required #priceItem>
                    <mat-error>Introduce el precio del item.</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <button mat-stroked-button>Mismo precio</button>
                </div>
                <div class="col-4">
                  <mat-form-field appearance="outline" class="disabledInputs">
                    <mat-label>IVA</mat-label>
                    <mat-icon matPrefix class="mat-input-element:disabled"> attach_money</mat-icon>
                    <input matInput type="text" disabled="true" formControlName="ivaCalculatd" [value]="(quantityEquiv.value>0 && priceBuy.value>0) ? ((priceBuy.value / quantityEquiv.value) * (ivaPerc.value / 100)) : 0" #ivaCalculated>
                    <mat-hint>IVA del producto</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field appearance="outline" class="disabledInputs">
                    <mat-label>Costo</mat-label>
                    <mat-icon matPrefix class="mat-input-element:disabled"> attach_money</mat-icon>
                    <input matInput type="text" disabled="true" formControlName="costCalculatd" [value]="(quantityEquiv.value>0 && priceBuy.value>0) ? (((priceBuy.value-0) / quantityEquiv.value) - (ivaCalculated.value-0)): 0" #costCalculated>
                    <mat-hint>Precio de compra menos IVA.</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field appearance="outline" class="disabledInputs">
                    <mat-label>Ganancia (por unidad)</mat-label>
                    <mat-icon matPrefix class="mat-input-element:disabled"> attach_money</mat-icon>
                    <input matInput type="text" disabled="true" formControlName="profitCalculatd" [value]="(quantityEquiv.value>0 && priceItem.value>0) ? ((priceItem.value-0) - (costCalculated.value - 0)) : 0" #profitPerUnit>
                    <mat-hint>Precio final menos costo.</mat-hint>
                  </mat-form-field>
                </div>
              </ng-container>
            </div>
          </form>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row mg-top-25">
        <div class="col-4 offset-8 justify-content-end">
          <button mat-button [routerLink]="['/inventory']">Cancelar</button>
          <button mat-raised-button class="btn-active" (click)="saveItemEntry()">Guardar</button>
        </div>
      </div>

    </div>
  </div>
  </div>
