

<div class="container-fluid content">

  <div class="row button-content">
    <div class="col-12 justify-content-end">
      <button mat-raised-button class="btn-add" [useExistingCss]="true" printSectionId="print-section" ngxPrint>Imprimir</button> 
    </div>
  </div>


  <div id="print-section">
    <h1>Hola mundi</h1>
  </div>


  <strong>Status: {{status}}</strong>
<div>
    <input [(ngModel)]="ip" type="text" name="ip" placeholder="IP of printer with WebPRNT">
    <button (click)="connectToWebPrint()">Connect to WebPRNT</button>
</div>

<div>
    <button (click)="requestUsb()">Connect to USB</button>
</div>

<div>
    <button (click)="print()" [disabled]="status === false"> Print!</button>
</div>
</div>
