.content{
  padding: 2vh 10vh;
}

.user{
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -4px rgb(0 0 0 / .20);
  margin-bottom: 15px;
  border:1px solid #fff;
  display: flex;
  vertical-align: middle;
}

.user:hover,.user:hover  > .text-infoo{

  cursor: pointer;
  box-shadow: 0px 0px 10px -4px rgb(0 0 0 / .80);
  transition: all 100ms linear;
}

.img-user{
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 3px;
  background-clip: content-box;
  background-origin: padding-box;
  border: 2px solid #4A91E3;
  background-position: center;
}

.button-content{
  margin-right: -25px;
  margin-bottom: 25px;
  text-align: right;
}

.btn-add{
  background-color: #F7931E;
  color: #fff;
}

.btn-add:hover{
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
}

.text-email{
  color:rgb(0 0 0 / 40%);
  font-size:14px;
}

.txt-align-r{
  text-align:right;
}

.main-text{
  font-size: 1.1rem;
}

.text-infoo{
  color:rgb(0 0 0 / 40%);
  font-size:0.65rem;
  text-transform: uppercase;
}

.divider-right{
  border-right: 2px solid rgb(0 0 0 / 40%);
}

.margin-auto{
  margin:auto;
}

@media screen and (max-width: 769px) {
  .isMobile{
    display: none;
  }

  .img-user{
    width: 40px;
    height: 40px;
    margin: 10px 0;
  }

  .text-email{
    font-size: 12px;
  }
  
  .text-infoo{
    font-size:12px;
  }

}