<div class="container-fluid content">

  <div class="row mg-top-25">
    <div class="col-12 div">

      <div class="row">
        <div class="col-1 less-padding">
          <button mat-icon-button aria-label="Return icon" class="btn-back" [routerLink]="['/inventory']">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
        <div class="col-6">
          <div class="col-12 title-text">
            <h4>{{title}}</h4>
            <span>Aquí podras configurar la información del item</span>
          </div>
        </div>
      </div>

      <div class="row mg-top-25">
        <div class="col-12">

          <form [formGroup]="item" class="col-12 mg-t-20">
            <div class="row">
              <div class="col-12 mg-top-25">
                <h6>Información del producto</h6>
                <p class="text-info">Información básica del item</p>
              </div>
              <div class="col-4">
                <mat-form-field appearance="outline">
                  <mat-label>Clave</mat-label>
                  <input matInput type="text" formControlName="primaryCode" required>
                  <mat-error>Introduce la clave.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-8">
                <mat-form-field appearance="outline" >
                  <mat-label>Descripción del producto</mat-label>
                  <input matInput type="text" formControlName="description" required>
                  <mat-error>Introduce una descripción.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field   appearance="outline" >
                  <mat-label>Unidad de salida del producto</mat-label>
                  <mat-select matInput formControlName="unit" required>
                    <mat-option *ngFor="let unit of units" [value]="unit.id">
                      {{unit.name}} ({{unit.abbreviation}})
                    </mat-option>
                  </mat-select>
                  <mat-error>Introduce la unidad de salida que tendrá el item.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field  appearance="outline" >
                  <mat-label>¿Permitir venta sin inventario del item?</mat-label>
                  <mat-select matInput formControlName="canSaleOutStock" required>
                    <mat-option value="0">
                      No
                    </mat-option>
                    <mat-option value="1">
                      Si
                    </mat-option>
                  </mat-select>
                  <mat-error>Selecciona una opción.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field  appearance="outline" >
                  <mat-label>¿Es un producto percedero?</mat-label>
                  <mat-select matInput formControlName="isPersishable" required>
                    <mat-option value="0">
                      No
                    </mat-option>
                    <mat-option value="1">
                      Si
                    </mat-option>
                  </mat-select>
                  <mat-error>Selecciona una opción.</mat-error>
                </mat-form-field>
              </div>

              <div class="col-12">
                <mat-divider class="mt-3 mb-3"></mat-divider>
              </div>
              <div class="col-12 mg-top-25">
                <h6>Información Sobre el stock del item</h6>
                <p class="text-info">Información básica sobre el comportamiento del item en el inventario</p>
              </div>
              <div class="col-4">
                <mat-form-field appearance="outline">
                  <mat-label>Stock minimo (en unidades)</mat-label>
                  <input matInput type="text" formControlName="minStock" required>
                  <mat-error>Introduce el stock mínimo.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field appearance="outline">
                  <mat-label>Punto de reorden (en unidades)</mat-label>
                  <input matInput type="text" formControlName="reorderPoint" required>
                  <mat-error>Introduce el punto de reorden.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field appearance="outline">
                  <mat-label>Stock máximo (en unidades)</mat-label>
                  <input matInput type="text" formControlName="maxStock" required>
                  <mat-error>Introduce el punto máxomo.</mat-error>
                </mat-form-field>
              </div>


            </div>
          </form>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row mg-top-25">
        <div class="col-4 offset-8 justify-content-end">
          <button mat-button [routerLink]="['/inventory']">Cancelar</button>
          <button mat-raised-button class="btn-active" (click)="saveItem()">Guardar</button>
        </div>
      </div>

    </div>
  </div>
  </div>
