.img-responsive{
    position:fixed;
    width: 200px;
    height: 200px;
    bottom: -30px;
    left: -30px;
    border-radius: 50px;
    z-index: -2;
    text-align: center;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

router-outlet{
    background-color: #D8D8D8;
}
