.content{
  padding: 2vh 10vh;
}

.mg-t-20{
  margin-top: 20px;
}

mat-form-field {
  width: 100%;
}

.logo-title{
  font-size: 15px;
    color: #878787;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.div{
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.25);
  margin-bottom: 15px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}