<div class="container-fluid content">
    <div class="row mt-3">

        <div class="col-12 div">


          <div class="row">
            <div class="col-12">
              <h3 class="ml-3 mt-2">Datos de empresa</h3>
            </div>

            <div class="col-12 mt-4">
              
                <form [formGroup]="companyInfo">
                  <div class="row">

                    <div class="col-3">
                      <div class="row">
                        <div class="col-12">
                          <img src="../../../assets/img/img-upload.png" style="width:100%" cursor="pointer">
                        </div>
                        <div class="col-12 mt-3">
                          <h6 class="logo-title">Logotipo</h6>
                        </div>
                      </div>
                    </div>

                    <div class="col-9" style="font-size:14px">
                      <div class="row">
                        <div class="col-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Nombre comercial</mat-label>
                            <input matInput type="text" formControlName="commercialName" required>
                            <mat-error>Introduce el nombre comercial.</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Domicilio comercial</mat-label>
                            <input matInput type="text" formControlName="commercialAddress" required>
                            <mat-error>Introduce el domicilio comercial.</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-3">
                          <mat-form-field appearance="outline">
                            <mat-label>Colonia</mat-label>
                            <input matInput type="text" formControlName="commercialSuburb" required>
                            <mat-error>Introduce la colonia.</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-3">
                          <mat-form-field appearance="outline">
                            <mat-label>Codigo postal</mat-label>
                            <input matInput type="text" formControlName="commercialPostalCode" required>
                            <mat-error>Introduce la colonia.</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-3">
                          <mat-form-field appearance="outline">
                            <mat-label>Ciudad</mat-label>
                            <input matInput type="text" formControlName="commercialCity" required>
                            <mat-error>Introduce la ciudad.</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-3">
                          <mat-form-field appearance="outline">
                            <mat-label>Estado</mat-label>
                            <input matInput type="text" formControlName="commercialState" required>
                            <mat-error>Introduce el estado.</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Teléfono de contacto</mat-label>
                            <input matInput type="text" formControlName="commercialPhone" required mask="(000) 000 0000">
                            <mat-error>Introduce el teléfono de contacto.</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Teléfono secundario</mat-label>
                            <input matInput type="text" formControlName="commercialPhoneSecondary" required mask="(000) 000 0000">
                            <mat-error>Introduce el teléfono secundario.</mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-12" >
                          <div style="background-color: #F7F8FC;padding: 4vh 2vh;">
                            <div class="row">
                              <div class="col-6" style="vertical-align: middle; margin: auto;">
                                <div class="row">
                                  <div class="col-6">
                                    <mat-form-field appearance="outline">
                                      <mat-label>Horario de apertura</mat-label>
                                      <input matInput type="text" formControlName="mtfOpenFrom" required mask="00:00">
                                      <mat-error>Introduce el horario de apertura.</mat-error>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-6">
                                    <mat-form-field appearance="outline">
                                      <mat-label>Horario de cierre</mat-label>
                                      <input matInput type="text" formControlName="mtfOpenTo" required mask="00:00">
                                      <mat-error>Introduce el horario de cierre.</mat-error>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-6">
                                    <mat-form-field appearance="outline">
                                      <mat-label>Apertura sábado</mat-label>
                                      <input matInput type="text" formControlName="saturdayOpenFrom" required mask="00:00">
                                      <mat-error>Introduce la apertura del sábado.</mat-error>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-6">
                                    <mat-form-field appearance="outline">
                                      <mat-label>Cierre sábado</mat-label>
                                      <input matInput type="text" formControlName="saturdayOpenTo" required mask="00:00">
                                      <mat-error>Introduce el cierre del sábado.</mat-error>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-6">
                                    <mat-form-field appearance="outline">
                                      <mat-label>Apertura domingo</mat-label>
                                      <input matInput type="text" formControlName="sundayOpenFrom" required mask="00:00">
                                      <mat-error>Introduce la apertura del domingo.</mat-error>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-6">
                                    <mat-form-field appearance="outline">
                                      <mat-label>Cierre domingo</mat-label>
                                      <input matInput type="text" formControlName="sundayOpenTo" required mask="00:00">
                                      <mat-error>Introduce el cierre del domingo.</mat-error>
                                    </mat-form-field>
                                  </div>

                                </div>
                              </div>
                              <mat-divider [vertical]="true"></mat-divider>
                              <div class="col-5" style="vertical-align: middle; margin: auto;">
                                <div class="row">
                                  <div class="col-6">
                                    <mat-checkbox (change)="dayToggle(1)">
                                      Lunes
                                    </mat-checkbox>
                                  </div>
                                  <div class="col-6">
                                    <mat-checkbox (change)="dayToggle(1)">
                                      Martes
                                    </mat-checkbox>
                                  </div>
                                  <div class="col-6">
                                    <mat-checkbox (change)="dayToggle(1)">
                                      Miercoles
                                    </mat-checkbox>
                                  </div>
                                  <div class="col-6">
                                    <mat-checkbox (change)="dayToggle(1)">
                                      Jueves
                                    </mat-checkbox>
                                  </div>
                                  <div class="col-6">
                                    <mat-checkbox (change)="dayToggle(1)">
                                      Viernes
                                    </mat-checkbox>
                                  </div>
                                  <div class="col-6">
                                    <mat-checkbox (change)="dayToggle(1)">
                                      Sabado
                                    </mat-checkbox>
                                  </div>
                                  <div class="col-6">
                                    <mat-checkbox (change)="dayToggle(1)">
                                      Domingo
                                    </mat-checkbox>
                                  </div>
                                  <div class="col-6">
                                    <mat-checkbox (change)="dayToggle(1)">
                                      Todos los dias
                                    </mat-checkbox>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 mt-4">
                            <div class="row">
                              <div class="col-3">
                                <h5>Datos fiscales</h5>
                              </div>
                              <div class="col-9" style="vertical-align: middle; margin: auto;">
                                <mat-divider style="border-top-color: #000"></mat-divider>
                              </div>
                            </div>
                          </div>
                          <div class="row mt-3">
                            <div class="col-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Razón social</mat-label>
                                <input matInput type="text" formControlName="bussinessName" required>
                                <mat-error>Introduce la razón social.</mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-6">
                              <mat-form-field appearance="outline">
                                <mat-label>RFC</mat-label>
                                <input matInput type="text" formControlName="rfc" required>
                                <mat-error>Introduce el RFC.</mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-3">
                              <mat-form-field appearance="outline">
                                <mat-label>Dirección</mat-label>
                                <input matInput type="text" formControlName="address" required>
                                <mat-error>Introduce la dirección.</mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-3">
                              <mat-form-field appearance="outline">
                                <mat-label>Régimen</mat-label>
                                <input matInput type="text" formControlName="regime" required>
                                <mat-error>Introduce el régimen.</mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-3">
                              <mat-form-field appearance="outline">
                                <mat-label>Colonia</mat-label>
                                <input matInput type="text" formControlName="suburb" required>
                                <mat-error>Introduce la colonia.</mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-3">
                              <mat-form-field appearance="outline">
                                <mat-label>Código postal</mat-label>
                                <input matInput type="text" formControlName="postalCode" required>
                                <mat-error>Introduce el código postal.</mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Teléfono de contacto</mat-label>
                                <input matInput type="text" formControlName="commercialPhoneF" required mask="(000) 000 0000">
                                <mat-error>Introduce el teléfono de contacto.</mat-error>
                              </mat-form-field>
                            </div>
                            
                            <div class="col-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Teléfono secundario</mat-label>
                                <input matInput type="text" formControlName="commercialPhoneSecondaryF" required mask="(000) 000 0000">
                                <mat-error>Introduce el teléfono secundario.</mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          <mat-divider></mat-divider>
                          <div class="row mt-3 mb-3">
                            <div class="col-12" style="text-align: right;">
                              <button mat-raised-button (click)="saveInfo()">Guardar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
    </div>
  </div>