<div class="container-fluid" style="width: 100vw;">
  <div class="login row">
    <div class="col-12" style="padding:0">
      <mat-progress-bar mode="indeterminate" *ngIf="isDisabled"></mat-progress-bar>
    </div>
    
    
      <div class="col-6 pt-5">

        <div class="row pt-5">
          <div class="col-12">
            <h2 class="title">
              Bienvenido
            </h2>
          </div>
          <div class="col-12 mt-3">
            <p class="text-help">
              Ingresa tus datos de acceso
            </p>
          </div>
          <div class="col-12 mt-5 mb-5">
            <form [formGroup]="item" class="col-12 mg-t-20">
              <div class="col-12">
                <mat-form-field appearance="outline">
                  <mat-label>Introduce tu correo</mat-label>
                  <input matInput type="text" formControlName="username" required>
                  <mat-error>Introduce tu correo electrónico.</mat-error>
                </mat-form-field>
              </div>

              <div class="col-12 mt-1">
                <mat-form-field appearance="outline">
                  <mat-label>Introduce tu contraseña</mat-label>
                  <input matInput type="password" formControlName="password" required>
                  <mat-error>Introduce tu contraseña.</mat-error>
                </mat-form-field>
              </div>
            </form>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-12" style="text-align:right; padding: 0 40px;">
                <button mat-raised-button color="primary" (click)="doLogin()">Iniciar sesión</button>
              </div>
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="row">
              <div class="col-12" style="text-align:right; padding: 0 40px;">
                <button mat-button (click)="forgetPassword()">Ops, olvidé mi contraseña</button>
              </div>
            </div>
          </div>
          <div class="col-12 mt-5 pt-5">
            <div class="row">
              <div class="col-12" style="text-align:center;">
                <img src="../../../assets/img/pospay_gray.svg">
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="col-6" style=" padding-right:0px;">
      <div class="img-back"></div>
    </div>
  </div>
</div>