.login{
  overflow-y: hidden;
}

.img-back{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/62/Barbieri_-_ViaSophia25668.jpg");
  background-color: #fff;
  width: 100%;
  height: 100vh;
  background-position: center!important;
  background-size: cover!important;
}

.title{
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.24px;
  line-height: 43px;
  text-align: center;
  top: 20px;
}

.text-help{
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  color: #666666;
  margin-top: -15px;
}

.numeric-code{
  margin-top: 50px;
  margin-left: -60px;
  width: 160%;
}

.numeric-code:focus{
  border: none;
  outline: none!important;
}

button:focus{
  outline: none!important;
}

.numeric-code .number{
  color: #2566C7;
  font-family: "Open Sans";
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0.35px;
  line-height: 65px;
  text-align: center;
  height: 64px;
  width: 64px;
  fill: #2566C7;
}

.asterisk{
  color: #6666666b;
}

.asterisk-enable{
  color: #000000;
}

.pospay-logo{
  height: 36px;
  width: 130px;
}

.code{
  padding-top: 15px;
}

.disabled{
   color: #6666666b!important;
}

.mat-form-field{
  width: 100%;
}