<div class="container-fluid content">
    <div class="row">
        
        <div class="col-4" *ngFor="let rol of data; let i = index">
          <mat-card class="item">
            <div class="row">
              <div class="col-1 justify-content-start">
                <div class="drop-down">
                  <img src="../../../assets/img/icons_chevron-down.svg">
                </div>
              </div>
              <div class="col offset-7 justify-content-end">
                <div>
                  <button mat-icon-button aria-label="Options">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h4 class="item-title">{{rol.name}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h4 class="item-content">{{rol.users.length}} personas</h4>
              </div>
            </div>

            <div class="row avatars">

              <div class="col-7" style="display: inline-flex;">
                <ng-container *ngFor="let user of rol.users; let i=index" >
                    <div mat-card-avatar [ngClass]="{'img-user-first': i==0, 'img-user': i>=1}" [ngStyle]="{'background-image': 'url('+user.img_url+')', 'margin-left': (i*2)*(-i)+'px'}"></div>
                </ng-container>
              </div>

              <div class="col-1 offset-2">
                <button mat-icon-button aria-label="Options">
                  <div mat-card-avatar class="add-user" style="padding-top: 5px;">
                    <mat-icon>add</mat-icon>
                  </div>
                </button>
              </div>
            </div>
          </mat-card>
        </div>

    </div>

    
  </div>