.mg-b-15 {
  margin-bottom: 15px;
}

.mg-t-15 {
  margin-top: 15px;
}

.menu{
  padding-top: 5vh;
}

.main-container{
  max-height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.active{
  border-bottom: 4px solid black;
}

.titleZone{
  border-left: 5px solid red;
  padding: 5px 0;
  margin: 10px 0;
}

.menu-icon{
  height: 24px;
  width: 24px;
  cursor: pointer;
  margin-top: -5px;
  margin-right: 15px;
}

.title{
  color: #292929;
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.24px;
  line-height: 43px;  
}

.pospay-logo{
  position:fixed;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    z-index: -2;
    text-align: center;
    bottom: 15px;
}


.content{
  padding: 3vh 5vh;
}


.config-zone{
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 21%);
  border-radius: 5px;
  padding: 20px;

}

.zoneName {
  text-align: center;
  margin: 10px 5px;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
}

.zoneName .active {
  background-color: #efefef;
}
.zoneName:hover {
  background-color: #efefef;
  cursor: pointer;
}

.example-list {
  list-style-type: none;
  padding: 0;
}

.example-list li {
  display: table-cell;
  padding: 4px;
}

.example-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 600px;
  max-width: 900px;
}

.example-box {
  width: 200px;
  height: 200px;
  border: solid 1px #ccc;
  font-size: 30pt;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  opacity: .6;
}

.cdk-drop-list {
  display: flex;
  padding-right: 10px;
  padding-bottom: 10px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: .3;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

button {
  margin-right: 4px;
}

:host {

  display: block;
  box-sizing: border-box;
}

mat-card {

  transition: transform 200ms, opacity 200ms;
}

.dndDraggingSource {

  opacity: .5;
  transform: scale(.98);
}


.tableOP{
  background-color:#3569B3;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: #fff;
}

.tableTitle{
  margin-top:20px;
}

.dndPlaceholder {

  min-height: 72px;
  border: 1px dashed green;
  background-color: rgba(0, 0, 0, 0.1);
}

.dndList {
  min-height: 60px;
  transition: all 300ms ease;
  border: 1px dashed #babec4;
  min-height: 65vh;

}

.dndListNoBorder{
  min-height: 60px;
  transition: all 300ms ease;
}

.dndList > .dndDragover {
  padding-top: 12px;
  padding-bottom: 12px;
}

.one_w{
  width:80px!important;
}

.addZone{
  background-color: #000;
}