<div class="container-fluid" cdkDropListGroup>

  <div class="row menu">
    <div class="col offset-1 justify-content-start">
      <h2 class="title"><img src="../../../assets/img/Icons_dashboard_fill.svg" class="menu-icon" [routerLink]="['/home']"> Mesas</h2>
    </div>
    <div class="col-2 offset-7 justify-content-end">
      <button mat-raised-button (click)="saveZoneTable()">Guardar cambios en zona</button>
    </div>
  </div>

  <div class="container-fluid content">
    <div class="row">
      <div class="col-3">
        <div class="config-zone">
          <h5>Zonas</h5>
          <div class="main-container">
            <div *ngFor="let zone of zones">
              <div class="row">
                <div class="col-12" style="text-align:center;">
                  <button mat-stroked-button (click)="loadZone(zone.id)" class="zoneName">{{zone.name}}</button>
                </div>
              </div>
            </div>
          </div>
          <mat-divider class="mg-b-15"></mat-divider>
          <h5>Tipos de mesas</h5>
          <div class="main-container">
            <mat-list
                  dndDropzone
                  dndEffectAllowed="copy"
                  (dndDrop)="onDrop($event, tablesList, true)"
                  class="dndListNoBorder">
              <mat-list-item *ngFor="let item of tablesList; let i = index;" class="tableOP"
                [dndDraggable]="item"
                [dndEffectAllowed]="item.effectAllowed"
                [dndDisableIf]="item.disable"
                (dndCopied)="onDragged(item, tablesList, 'copy')">
                <div *ngIf="item" style="padding: 8px">
                  <p class="tableTitle">{{item.content}} ({{item.width}} ancho x {{item.height}} largo)</p>
                </div>
              </mat-list-item>
            </mat-list>
          </div>
          <mat-divider class="mt-3 mb-3"></mat-divider>
          <h5>Acciones</h5>
          <div class="col-12 mb-2">
            <button mat-stroked-button style="width:100%">Añadir mesa</button>
          </div>
          <div class="col-12">
            <button mat-stroked-button style="width:100%">Añadir zona</button>
          </div>
        </div>
      </div>

      <div class="col-9 grid">

  <div class="row">
    <ng-container>
      <div class="col-3">
        <div class="col-12 titleZone">
          <h6 class="ml-3" style="font-size: 1.0rem;">{{zoneName}}</h6>
        </div>
        <mat-list
          dndDropzone
          [dndHorizontal]="layout.dndHorizontal"
          dndEffectAllowed="copyMove"
          (dndDrop)="onDrop($event, draggableList)"
          class="dndList">

          <mat-list-item dndPlaceholderRef class="dndPlaceholder"> </mat-list-item>

            <mat-list-item *ngFor="let item of draggableList; let i = index;" class="tableOP"
                          [dndDraggable]="item"
                          dndEffectAllowed="move"
                          [dndDisableIf]="item.disable"
                          (dndMoved)="onDragged(item, draggableList, 'move')" ng-style="{background-color: getRandomColor()}">

                    <div class="col-12">
                      <div class="row">
                        <div class="col-10">
                          <div *ngIf="item.content" style="margin: auto;">
                            <p class="tableTitle">{{item?.content}}</p>
                          </div>
                          <div *ngIf="!item.content" style="margin: auto;">
                            <p class="tableTitle">{{item.name}}</p>
                          </div> 
                        </div>
                        <div class="col-1 float-end" style="margin: auto; cursor: pointer;" (click)="deleteTable(item)" >
                          <div style="text-align:right">
                            <mat-icon>delete_forever</mat-icon>
                          </div>
                        </div>
                      </div>  
                    </div>
                    
                    

                    
  
            </mat-list-item>
  
        </mat-list>
      </div>
    </ng-container>

  </div>
</div>