.icon-tab{
    margin-right:15px;
}

.toolbar{
    background: linear-gradient(90deg, rgba(43,38,116,1) 0%, rgba(13,116,180,1) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2018/11/05/0910/Hyatt-Regency-Andares-Guadalajara-P127-Facade-Andares-Mall.jpg/Hyatt-Regency-Andares-Guadalajara-P127-Facade-Andares-Mall.16x9.jpg?imwidth=1920"), linear-gradient(90deg, rgba(43,38,116,1) 0%, rgba(13,116,180,1) 100%);
    height: 15vh;
}

.input{
    width: 100%;
}

.btn-add{
    background-color: #F7931E;
    color: #fff;
}


.img-user{
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 3px;
    background-clip: content-box;
    background-origin: padding-box;
    border: 2px solid #4A91E3;
    background-position: center;
    margin: auto;
  }

.pospay-logo{
    position:fixed;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    z-index: -2;
    text-align: center;
    bottom: 15px;
    left: 50vw;
    margin-left: -100px;
}

table.mat-table {
    width: 100%;
}

mat-form-field{
    width: 100%;
}
