
<h4 mat-dialog-title>{{title}}</h4>

<mat-dialog-content class="mat-typography">
{{contentText}}
</mat-dialog-content>

<mat-dialog-actions align="end" class="mt-1 mb-1">
            <button mat-button (click)="closeDialog(false)">Cancelar</button>
            <button mat-raised-button class="btn-add" (click)="closeDialog(true)">{{buttonText}}</button>
</mat-dialog-actions>
