
<h4>{{title}}</h4>

<form [formGroup]="userForm" class="mt-4">
    <mat-dialog-content>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-10">
                    <mat-form-field  floatLabel="always" hideRequiredMarker="true" appearance="outline" #name>
                        <mat-label>Nombre</mat-label>
                        <input matInput type="text" formControlName="name" required>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <input [style.background]="color" formControlName="colorP" class="pickerColor" #colorP
                        [cpPresetColors]="['#fff', '#000', '#2889e9', '#e920e9', '#fff500', 'rgb(236,64,64)']"
                        [cpAlphaChannel]="'disabled'"
                        [cpOutputFormat]="'hex'"
                        [colorPicker]="userForm.get('colorP').value"
                        [style.color]="userForm.get('colorP').value"
                        [value]="userForm.get('colorP').value"
                        (colorPickerChange)="userForm.get('colorP').setValue($event)"
                        [(colorPicker)]="color"/>
                </div>
            </div>


        </div>

    </div>
    
    
    </mat-dialog-content>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-2">
            <button mat-button (click)="closeDialog()">Cancelar</button>
        </div>
        <div class="col-4">
            <button mat-raised-button class="btn-add" (click)="saveRole()">Guardar</button>
        </div>
    </div>
</form>