<div class="container-fluid content">
    <div class="row">
        
        <div class="col-md-6 col-lg-4" *ngFor="let rol of data; let i = index">
          <!-- matRipple matRippleCentered="true" -->
          <mat-card class="item" >
            <div class="row">
              <div class="col-1 justify-content-start">
                <div class="drop-down" [style.background-color]="rol.color">
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </div>
              </div>
              <div class="col offset-md-6 offset-lg-7 justify-content-end">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <mat-divider></mat-divider>
                  <button mat-menu-item (click)="editDialog(rol)">
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                  </button>
                  <button mat-menu-item (click)="deleteDialog(rol.id)">
                    <mat-icon>delete_forever</mat-icon>
                    <span>Eliminar</span>
                  </button>
                </mat-menu>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h4 class="item-title">{{rol.name}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h4 class="item-content">{{rol.users.length}} personas</h4>
              </div>
            </div>

            <div class="row avatars">

              <div class="col-8" style="display: inline-flex;">
                <ng-container *ngFor="let user of rol.users; let i=index" >

                  <ng-container *ngIf="i<=3">
                    <div  [matTooltip]="user.name+' '+user.lastname" mat-card-avatar [ngClass]="{'img-user-first': i==0, 'img-user': i>=1}" [ngStyle]="{'background-image': 'url('+user.img_url+')', 'margin-left': (-8)-(i*1.6)+'px'}"></div>
                  </ng-container>
                  <ng-container *ngIf="i==3">
                    <div  [matTooltip]="getAllNamesLeftUsers(rol.users)" mat-card-avatar [ngClass]="{'img-user': true}" [ngStyle]="{'background-image': 'url('+ (img_url+(rol.users.length - 4))+'+%2B+&background=random)', 'margin-left': (-8)-(i*1.6)+'px'}"></div>
                  </ng-container>
                </ng-container>
              </div>

              <div class="col-1 offset-md-1 offset-lg-1" style="display: inline-flex;">
                <button mat-icon-button  class="add-user">
                    <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </mat-card>
        </div>

        <div class="col-md-6 col-lg-4" >
          <mat-card class="item" style="cursor: pointer;" matRipple matRippleCentered="true" (click)="createDialog()">
            <div class="row" style="height:100%">
              <div class="col-12 mt-4" style="display: flex">
                <button mat-icon-button  class="add-user" style="margin:auto;height: 60px !important;width: 60px !important;font-size: 48px !important;">
                    <mat-icon>add</mat-icon>
                </button>
              </div>
              <div class="col-12">
                <h6>Añadir nuevo rol</h6>
              </div>
            </div>
          </mat-card>
        </div>

    </div>

    
  </div>