<div class="container-fluid content">

  <div class="row mg-top-25">
    <div class="col-12 div">

      <div class="row">
        <div class="col-1 less-padding">
          <button mat-icon-button aria-label="Return icon" class="btn-back" [routerLink]="['/inventory']">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
        <div class="col-6">
          <div class="col-12 title-text">
            <h4>Histórico de movimientos de inventario</h4>
            <span>Aquí podras encontrar la información del histórico del inventario del producto</span>
          </div>
        </div>
      </div>

      <div class="row mg-top-25">
        <div class="col-12">

          <table mat-table [dataSource]="items" matSort class="mat-elevation-z0 table">

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO DE MOVIMIENTO </th>
              <td mat-cell *matCellDef="let element"> 
                <p *ngIf="element.type == 0">Entrada</p>
                <p *ngIf="element.type == 1">Salida</p> 
              </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> CANTIDAD </th>
              <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>

            <ng-container matColumnDef="unitBuy">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> UNIDAD DEL MOVIMIENTO </th>
              <td mat-cell *matCellDef="let element"> 
                <div *ngFor="let item of findUnitBuy(element.unitBuy)">
                  {{item}}
                </div> 
              </td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> PRECIO </th>
              <td mat-cell *matCellDef="let element"> 
                <span *ngIf="element.price!=null">$ {{element.price}}</span> 
                <span *ngIf="element.price==null">No aplica</span> 
              </td>
            </ng-container>

            <ng-container matColumnDef="provider">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> PROVEEDOR </th>
              <td mat-cell *matCellDef="let element"> 
                <span *ngIf="element.provider">
                  {{element.provider.name}} 
                </span>
                <span *ngIf="!element.provider">
                  No aplica 
                </span>
              </td>
            </ng-container>

            <ng-container matColumnDef="user">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> USUARIO QUE HIZO EL MOVIMIENTO </th>
              <td mat-cell *matCellDef="let element"> {{element.user.name}} {{element.user.lastname}}</td>
            </ng-container>
            
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA DEL MOVIMIENTO </th>
              <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'medium'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No se encontró nada con la búsqueda "{{input.value}}"</td>
            </tr>

          </table>
          
        </div>
      </div>
      <div class="row mg-top-25">
        <div class="col-3 offset-9 justify-content-end">
          <button mat-raised-button class="btn-active" [routerLink]="['/inventory']">Aceptar</button>
        </div>
      </div>

    </div>
  </div>
  </div>
