

<div class="container-fluid content">

  <div class="row button-content">
    <div class="col-12 justify-content-end">
      <button mat-raised-button class="btn-add" (click)="createDialog()">Nuevo usuario</button>
    </div>
  </div>


  <div class="row" *ngFor="let user of data">
    <div class="col-12">
      <div class="row user" [ngStyle]="{'border-left': '5px solid '+ user.role?.color}">
          <div class="col-1">
            <ng-container *ngIf="user.img_url==null || user.img_url=='' ; else elseTemplate">
              <div class="img-user" [ngStyle]="{'background-image': 'url(https://ui-avatars.com/api/?name='+(user.name.split(' ').join('+')+'+'+user.lastname.split(' ').join('+'))+'&background=random)'}"></div>
            </ng-container>
            <ng-template #elseTemplate>
              <div class="img-user" [ngStyle]="{'background-image': 'url('+user.img_url+')'}"></div>
            </ng-template>
          </div>
          <div class="col-md-3 col-lg-3 margin-auto">
            <h5 class="main.text">{{user.name}} {{user.lastname}}</h5>
            <h6 class="text-email">{{user.email}}</h6>
          </div>
          <mat-divider [vertical]="true"></mat-divider>
          <div class="col-md-3 col-lg-2 margin-auto">
            <h6 class="text-infoo">
              clave de operación
            </h6>
            <h5 class="main-text">{{user.operation_code}}</h5>
          </div>
          <mat-divider [vertical]="true"></mat-divider>
          <div class="col-md-3 col-lg-2 margin-auto ">
            <h6 class="text-infoo">Rol</h6>
            <h5 class="main-text">{{user.role?.name || 'Sin rol'}}</h5>
          </div>
          <mat-divider [vertical]="true"></mat-divider>
          <div class="hidden-md col-lg-2 margin-auto isMobile">
            <h6 class="text-infoo">local</h6>
            <h5 class="main-text">{{user.phone}}</h5>
          </div>
          <div class="col-md-1 col-lg-1 margin-auto justify-content-end txt-align-r" style="vertical-align: middle;display: flex;">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="editDialog(user)">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item (click)="deleteDialog(user.id)">
                <mat-icon>delete_forever</mat-icon>
                <span>Eliminar</span>
              </button>
            </mat-menu>
          </div>
      </div>
    </div>
    </div>
</div>
