<div class="container-fluid">


  <div class="row menu">
    <div class="col justify-content-start">
      <h2 class="title">
        <mat-tab-group mat-align-tabs="left" [selectedIndex]="lastTab">
          <mat-tab [routerLink]="['/home']">
            <ng-template mat-tab-label >
              <img src="../../../assets/img/Icons_dashboard_fill.svg" class="menu-icon" (click)="returnHome()"> 
            </ng-template>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <div (click)="setTitle('Productos',1)">
                Productos
              </div>
            </ng-template>
            <app-products></app-products>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <div (click)="setTitle('Promociones',2)">
                Promociones
              </div>
            </ng-template>
            <app-promotions></app-promotions>
          </mat-tab>
          <mat-tab>
              <ng-template mat-tab-label>
                <div (click)="setTitle('Inventario',3)">
                  Inventario
                </div>
              </ng-template>
            <app-inventory></app-inventory>
          </mat-tab>
          <mat-tab>
              <ng-template mat-tab-label>
                <div (click)="setTitle('Categorias',4)">
                  Categorias
                </div>
              </ng-template>
              <app-categories></app-categories>
          </mat-tab>
          <mat-tab>
              <ng-template mat-tab-label>
                <div (click)="setTitle('Proveedores', 5)">
                  Proveedores
                </div>
              </ng-template>
            <app-providers></app-providers>
          </mat-tab>
        </mat-tab-group>
      </h2>
    </div>
  </div>


    <div class="row">
      <div class="col offset-5">
        <img src="../../../assets/img/pospay_gray.svg" class="pospay-logo">
      </div>
    </div>


</div>