<div class="container-fluid content">

  <div class="row mg-top-25">
    <div class="col-12 div">

      <div class="row">
        <div class="col-1 less-padding">
          <button mat-icon-button aria-label="Return icon" class="btn-back" [routerLink]="['/inventory']">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
        <div class="col-6">
          <div class="col-12 title-text">
            <h4>{{title}}</h4>
            <span>Aquí podras configurar la información del proveedor</span>
          </div>
        </div>
      </div>

      <div class="row mg-top-25">
        <div class="col-12">

          <form [formGroup]="form" class="col-12 mg-t-20" #formV>
            <div class="row">
              <div class="col-12 mg-top-25">
                <h6>Información de la categoría</h6>
                <p class="text-info">Información básica de la categoría</p>
              </div>
              <div class="col-2">
                <mat-form-field appearance="outline">
                  <mat-label>Clave</mat-label>
                  <input matInput type="text" formControlName="key" required>
                  <mat-error>Introduce la clave.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field appearance="outline" >
                  <mat-label>Nombre</mat-label>
                  <input matInput type="text" formControlName="name" required>
                  <mat-error>Introduce un nombre.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-5">
                <mat-form-field appearance="outline" >
                  <mat-label>Descripción</mat-label>
                  <input matInput type="text" formControlName="description" required>
                  <mat-error>Introduce una dirección.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field appearance="outline" >
                  <mat-label>URL de la imágen</mat-label>
                  <input matInput type="text" formControlName="imgUrl" required>
                  <mat-error>Introduce La url de la imágen.</mat-error>
                </mat-form-field>
              </div>
            </div>
            <!--<mat-divider></mat-divider>
            <div class="row mg-top-25">
              <div class="col-12">
                <h6>Calificar proveedor</h6>
                <p class="text-info">Esta sección es opcional. Aquí podrás modificar la calificación del proveedor con respecto a algunas áreas</p>
              </div>
            </div>
            -->
          </form>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row mg-top-25">
        <div class="col-4 offset-8 justify-content-end">
          <button mat-button [routerLink]="['/inventory']">Cancelar</button>
          <button mat-raised-button class="btn-active" (click)="saveItem()">Guardar</button>
        </div>
      </div>

    </div>
  </div>
  </div>

