/* You can add global styles to this file, and also import other style files */

:host {
    display: block;
    background-color: green;
}

:root {
    /*light theme*/
    --light-background-color:#E2E7EF;
    --light-color-text:#000;
    --light-color-secondary-text:rgb(0 0 0 / 40%);

    --dark-background-color:#000;
    --dark-color-text:#fff;
    --dark-color-secondary-textrk:rgb(0 0 0 / 40%);
}

:host(.light-theme){
    --background-page: var(--light-background-color)!important;
}

:host-context(.light-theme){
    --background-page: var(--light-background-color)!important;
}

:host-context(.dark-theme){
    --background-page: var(--dark-background-color)!important;
}

.light-theme{
    --background-page: var(--light-background-color)!important;
}

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    transition: all 0.33s ease-in-out;
    background-color: #F4F7FB!important;
}


@media screen and (max-width: 769px) {

    .container-fluid .content{
        widows: 100%
    }

    .mat-table {
        overflow-x: scroll;
    }

    .mat-cell,
    .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    }
    .mat-row,
    .mat-header-row {
    display: table-row;
    }
}
