<div class="container-fluid content">
  <div class="row mg-top-25">
    <div class="col-12 div">

      <div class="row">
        <div class="col-3">
          <div class="col-12 ">
            <button mat-raised-button class="btn-add" [routerLink]="['/promotion']"><mat-icon>add</mat-icon> NUEVA CATEGORIA</button>
          </div>
        </div>
        <div class="col-3 offset-6 justify-content-end">
          <mat-form-field appearance="outline">
            <mat-icon matPrefix> search</mat-icon>
            <mat-label>Búsqueda</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Realiza una búsqueda" #input>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0 table">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> PRECIO </th>
              <td mat-cell *matCellDef="let element"> ${{element.price}} </td>
            </ng-container>
            
            <ng-container matColumnDef="startAt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> VIGENCIA INICIO </th>
              <td mat-cell *matCellDef="let element"> {{element.vigencyStart | date}} </td>
            </ng-container> 
            
            <ng-container matColumnDef="endAt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> VIGENCIA FIN </th>
              <td mat-cell *matCellDef="let element"> {{element.vigencyEnd | date}} </td>
            </ng-container> 
            
            <ng-container matColumnDef="days">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> DIAS </th>
              <td mat-cell *matCellDef="let element">
                {{element.daysStringed}}
              </td>7
            </ng-container> 
            
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO </th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.type==1">
                  Descuento
                </ng-container>
                <ng-container *ngIf="element.type==0">
                  Combo
                </ng-container>
              </td>
            </ng-container> 

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button aria-label="Delete" style="color:#CA0B00" [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="editItem(element.id)">
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                  </button>
                  <button mat-menu-item (click)="deleteProvider(element.id)">
                    <mat-icon>delete_forever</mat-icon>
                    <span>Eliminar</span>
                  </button>
                </mat-menu>

              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No se encontró nada con la búsqueda "{{input.value}}"</td>
            </tr>

          </table>
        </div>
      </div>

    </div>
  </div>
  </div>
